* {
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
}
.header {
  border: solid black;
  width: 100vw;
  height: 110px;
  position: fixed;
  top: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.logo {
  width: 155px;
  height: 61px;
}

.menu {
  border: solid tomato;
}
.menu-item {
  border: solid yellow;
  width: 20 px;
  height: 20px;
  display: inline-block;
  right: 10px;
  color: #4a4a4a;
}
